<h1> 이메일 보내는 프로그램</h1>
<h1> <a href="/dettol/email_send">보내기 </a></h1>
<form action='/dettol/email_send' method="POST">
    받는 이 : <input type="text" name="receiver"><br>
    참조 : <input type="text" name="cc"><br>
    제목 : <input type="text" name="title"><br>
    내용 : <br>
    <textarea name ="content"></textarea>
    <input type="submit" value ="전송">
</form>